<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include("header") -%>
    <form method="post"action="/feedback_to_faculty"class="w-25 mx-auto">
        <button class="my-2 mx-auto w-100 btn btn-lg btn-dark" type="submit">See Faculty Feedback</button>
    </form>
    <form method="post"action="/stud_rec"class="mx-auto w-25">
        <button class="mt-2 mx-auto w-100 btn btn-lg btn-dark" type="submit">Add Student</button>
    </form>
    <form method="post"action="/teacher_rec"class="mx-auto w-25">
        <button class="mt-2 mx-auto w-100 btn btn-lg btn-dark" type="submit">Add Teacher</button>
    </form>
    <form method="post"action="/sports_list"class="mx-auto w-25">
        <button class="mt-2 mx-auto w-100 btn btn-lg btn-dark" type="submit">See Sports Section</button>
    </form>
    <%- include("footer") -%>
</body>
</html>